body {
  font-family: "Source Sans Pro";
}
body,
html {
  overflow-x: hidden;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.btn:focus,
.form-control:focus,
button:focus,
.form-select:focus,
.form-check-input:focus {
  outline: none;
  box-shadow: none !important;
}
/* NAVBAR */
header nav {
  padding: 0;
  background-color: white;
}
header nav .navbarToggler {
  border: 0;
}
header nav .navbarToggler i {
  margin-right: 0.4em;
}
header nav .navbarToggler span {
  font-size: 0.8em;
  color: #edf8f6;
  font-weight: 700;
}
header nav .headerLogo {
  width: 250px;
}
header nav .navbarCollapse .navbarNav li {
  margin: 0 0.5em;
}
header nav .navbarCollapse .navbarNav .navLink,
header nav .navbarCollapse .navbarNav .envelope {
  color: #ce6713 !important;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  position: relative;
  transition: all 0.3s ease;
}
header nav .navbarCollapse .navbarNav .navLink {
  color: #1c62d3 !important;
  text-transform: uppercase;
  font-size: 0.819em;
  letter-spacing: 1px;
  font-weight: 800;
}
header nav .navbarCollapse .navbarNav .navLink:hover,
header nav .navbarCollapse .navbarNav .envelope:hover {
  color: #ce6713 !important;
}
header nav .navbarCollapse .navbarNav .envelope i:hover {
  transform: scale(1.1);
}
header nav .navbarCollapse .navbarNav .navLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1c62d3;
  transition: all 0.3s ease;
}
header nav .navbarCollapse .navbarNav .navLink:hover:before {
  width: 100%;
}
header nav .navbarCollapse .navbarNav .envelope {
  margin-left: 0.5em;
  font-size: 1.1em;
}
/* HERO SECTION */
#heroSection {
  background-color: #e9f6ff;
}
#heroSection,
#section3,
#formSection {
  padding: 4em 0;
}
#heroSection .topLgText {
  font-size: 2.9em;
  font-weight: 700;
  margin-right: 2.9em;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1c62d3;
}
#heroSection .marginTop {
  margin-top: 1rem;
}
#heroSection p {
  font-size: 1.1em;
  color: #ce6713;
  letter-spacing: 0.4px;
  line-height: 1.8;
}
#heroSection .lgBtn {
  color: #edf8f6;
  background-color: #18a018;
  padding: 0.39em 1.575em 0.39em 1.575em;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.4px;
  border-radius: 35px;
  font-weight: 600;
  transition: all 0.3s;
  text-transform: uppercase;
}
#heroSection .lgBtn:hover,
#formSection .formSendRequestBtn:hover {
  box-shadow: 0px 0px 6px #5abfae;
  transform: translateY(-2px);
}
#heroSection .heroImg {
  height: 100%;
  object-fit: contain;
}
/* SECTION 2 */
#section2 {
  padding: 2em 0;
}
#section2 h5,
#section2 h6,
#formSection h5 {
  color: #1c62d3;
  font-weight: 700;
  line-height: 1.1;
}
#section2 h5,
#formSection h5 {
  font-size: 1.4em;
}
#section2 h6 {
  font-size: 1.2em;
}
#section2 .mb {
  margin-bottom: 1.6em;
}
#section2 .my {
  margin: 1em 0 1.9em 0;
}
#section2 .middleText {
  margin: 1.9em 0;
}
#section2 ul {
  margin: 0;
  padding-left: 1.2em;
}
#section2 .listColor ul li {
  color: #ce6713;
  line-height: 2;
  font-weight: 500;
  font-size: 0.9em;
}
#section2 .textCenter {
  text-align: center;
  margin: 3.3em 0 0 0;
}
/* SECTION 3 */
#section3 {
  text-align: center;
}
#section3 .step h6 {
  color: #1c62d3;
  margin-top: 0.5em;
  font-size: 1.3em;
  font-weight: 600;
}
#section3 .step p {
  color: #ce6713;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
  margin-top: 1.4em;
}
/* FORM SECTION */
#formSection {
  background-color: #e9f6ff;
}
#formSection h5 {
  color: #1c62d3;
  margin-bottom: 1.8em;
}
#formSection h6 {
  color: #ce6713;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 0.4em;
}
#formSection .mb {
  margin-bottom: 0.5em;
}
#formSection .formCheckLabel {
  color: #ce6713;
  font-weight: 500;
  margin-left: 0.2em;
  vertical-align: top;
}
#formSection .checkboxInput {
  width: 1.1em;
  border-radius: 0;
}
#formSection .inputBox,
#formSection .textareaInput {
  background-color: white !important;
  padding: 12px 18px;
  border-radius: 30px;
  border: 0;
}
#formSection .formLabelBold {
  color: #ce6713;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0.2em;
}
#formSection .smallText {
  color: #ce6713;
  font-size: 0.9em;
  margin-top: 0.6em;
  margin-bottom: 1.7em;
}
#formSection .mt {
  margin-top: 1.5em;
}
#formSection .formSendRequestBtn {
  color: white;
  border-radius: 30px;
  background-color: #1c62d3;
  margin-top: 1.7em;
  font-weight: 600;
  padding: 0.7em 1.3em;
  font-size: 0.9em;
  transition: all 0.3s;
}

/* FOOTER */
footer {
  padding: 0.5em 0;
  text-align: center;
}
footer .footerCopyRight {
  padding: 1em 0;
  border-top: 1px solid #00000020;
  margin-top: 2em;
}
footer .footerCopyRight a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0.5em;
  margin-bottom: 1.4em;
  transition: all 0.3s ease;
}
footer .footerCopyRight a:hover {
  color: #6bc7b9;
}
footer .footerCopyRight p,
footer .footerCopyRight a {
  letter-spacing: 1px;
  font-size: 0.7em;
}
footer .footerCopyRight p {
  color: #1c62d3;
  font-weight: 600;
}
.footerCopyRight a {
  color: #40b2f2 !important;
  font-weight: 600 !important;
}

@media (max-width: 992px) {
  header nav .navbarCollapse .navbarNav li {
    padding: 0.4em 0;
  }
  header nav .navbarCollapse .navbarNav li:last-child {
    margin-left: 0;
  }
  #section2 .pt {
    padding-top: 2em;
  }
}
@media (max-width: 768px) {
  #heroSection .topLgText {
    font-size: 1.9em;
    line-height: 1.2;
  }
  header nav .headerLogo {
    width: 230px;
  }
  #heroSection .lgBtn {
    font-size: 1.25em;
  }
  #heroSection .heroImg {
    margin-top: 1em;
  }
  #section2 .mx {
    margin: 0 1em;
  }
  #formSection .pb {
    padding-bottom: 1.7em;
  }
}
