.passwordForm {
  margin-top: 10em;
  border-radius: 0.5em;
  padding: 2em 3em;
  background-color: white;
}
.passwordForm label {
  color: #358779;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.passwordForm input {
  width: 100%;
  padding: 0.8em 2em;
  border-radius: 0.3em;
  border: 1px solid #358779;
  margin-bottom: 1.5em;
}
.passwordForm h1 {
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
  color: #358779;
}
.passwordForm .submitBtn {
  background-color: #358779;
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.6em 1.5em;
  font-weight: 600;
}
